[submodule "better-weather"]
	path = better-weather
	url = https://github.com/michaelriccio/better-weather.git
[submodule "Surf-Shop-Langing-Page"]
	path = Surf-Shop-Langing-Page
	url = https://github.com/michaelriccio/Surf-Shop-Langing-Page.git
[submodule "ToDoing-React-App"]
	path = ToDoing-React-App
	url = https://github.com/michaelriccio/ToDoing-React-App.git
